version: '3.3'

services:

  redisserver:
    image: redis:alpine
    container_name: cleanitup-redis
    restart: always
    ports:
      - "6379:6379"
    expose:
      - "6379"

  webapp:
    build: .
    container_name: cleanitup-webapp
    environment:
      - DATABASE_URL=sqlite:////prod/db/cleanitup.db
      - GOOGLE_CLIENT_SECRET_PATH=/prod/client_secret.json
    volumes:
      - ./prod/db:/prod/db
      - ./client_secret.json:/prod/client_secret.json
    restart: always
    command: python run.py
    depends_on:
      - redisserver
    ports:
      - "8080:8080"

  worker:
    build: .
    container_name: cleanitup-worker
    environment:
      - DATABASE_URL=sqlite:////prod/db/cleanitup.db
    volumes:
      - ./prod/db:/prod/db
    command: python worker.py
    restart: always
    depends_on:
      - ollama
      - redisserver
      - webapp

  ollama:
    image: ollama/ollama:latest
    container_name: cleanitup-ollama
    ports:
      - 11434:11434
    volumes:
      - ./prod/ollama:/root/.ollama
    tty: true
    restart: always
