version: '3.3'

services:
  flask:
    image: python:3.12-alpine
    container_name: flask
    volumes:
      - ./:/flask-app  # Mount your FastAPI app directory
    working_dir: /flask-app
    environment:
      DATABASE_URL: "sqlite:////flask-app/app.db"
    command: >
      sh -c "touch /flask-app/app.db"
    command: >
      sh -c "pip install -r requirements.txt && python run.py"
    ports:
      - "8000:8000"

  worker:
    image: python:3.12-alpine
    container_name: worker
    volumes:
      - ./:/flask-app  # Mount your FastAPI app directory
    working_dir: /flask-app
    command: >
      sh -c "pip install -r requirements.txt && python worker.py"
    depends_on:
      - redisserver
      - flask

  redisserver:
    image: redis:alpine
    container_name: redisserver
    ports:
      - "6379:6379"
    expose:
      - "6379"

  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    command: ollama serve
    volumes:
      - ./models:/models  # Optional: mount a directory for models
    environment:
      - MODEL=qwen2.5:3b-instruct-q4_0
    ports:
      - "11434:11434"
    # Note: The environment variable above may vary depending on the Ollama setup.
