{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="row">
    <div class="col-8 offset-2">
        </form>
        <div class="card border border-0 shadow-sm">
            <div class="card-body">

                <div class="row mb-3">
                    <div class="col-6">
                        <h1>Home</h1>
                    </div>
                    <div class="col-6 text-end align-self-center">
                        {% if not runs_in_process %}
                        <a class="btn px-4 btn-primary" data-bs-toggle="modal" data-bs-target="#schedule-run-modal">
                            <i class="bi-file-earmark-plus"></i>
                            Schedule new clean up
                        </a>
                        {% else %}
                        <span class="d-inline-block" tabindex="0"
                            data-bs-placement="bottom"
                            data-bs-toggle="tooltip"
                             data-bs-title="There is already a run in progress. Please wait for that to end to schedule another one">

                            <a class="btn btn-outline-primary disabled"

                                role="button"
                                aria-disabled="true">
                                    <i class="bi-file-earmark-plus"></i>
                                    Schedule new clean up
                            </a>

                        </span>
                        {% endif %}
                    </div>
                </div>

                {% if runs %}
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>Scheduled at</th>
                            <th>Started at</th>
                            <th>Ended at</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for run in runs %}
                        <tr>
                            <td class="align-middle">
                                {{ run.scheduled_at.strftime("%Y-%m-%d %H:%M:%S") }}
                            </td>
                            <td class="align-middle">
                                {{ run.started_at.strftime("%Y-%m-%d %H:%M:%S") if run.started_at }}
                            </td>
                            <td class="align-middle">
                                {{ run.ended_at.strftime("%Y-%m-%d %H:%M:%S") if run.ended_at }}
                            </td>
                            <td class="align-middle">{{ run.status.value }}</td>
                            <td class="align-middle"><a class="link-underline link-underline-opacity-0" href="{{ url_for('run_status', run_id = run.id) }}">Status <i class="bi-arrow-right"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="mt-3">
            <p class="text-center text-body-secondary">
                <small>
                    Email ID: {{ email_address }}
                </small>
            </p>
        </div>
    </div>
</div>

<div id="schedule-run-modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Schedule a clean up</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
            You have <b>{{ total_messages }}</b> messages in your inbox.
            Processing might take a long time. If you want to process lesser
            number of emails, please change the textbox below to reflect the
            number of messages you wish to process
        </p>
        <label for="messages-to-process-textbox" class="form-label">No. of messages to process</label>
        <input form="schedule-run-form" type="text" class="form-control" id="messages-to-process-textbox" name="no_of_emails_to_process" value="{{ total_messages }}" required>
        <div class="form-text">
            If you wish to process more than 500 emails, the count should be a multiple of 500 (or it will be rounded up). For less than 500 emails, the count can be anything.
        </div>
      </div>
      <div class="modal-footer">
        <form id="schedule-run-form" action="/schedule-run" method="POST">
            <button class="btn px-4 btn-primary" type="submit">
                <i class="bi-trash3"></i>
                Process
            </button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endif %}

{% endblock %}
