{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block meta %}
{% if not has_required_model %}
<meta http-equiv="refresh" content="5" >
{% endif %}
{% endblock %}

{% block container_class %}container{% endblock %}
{% block body %}

{% if has_required_model %}
<div class="card border border-0 shadow-sm">
    <div class="card-body">
        <div class="px-4 py-5 my-2 text-center">
            <div class="d-block mx-auto fs-1">
                <i class="bi-trash3"></i>
            </div>
            <h1 class="display-4 fw-bold text-body-emphasis mb-3">Spam Slaya</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">
                    Email address is a key part of your identity. Yet, giving it
                    out can feel like opening the floodgates to spam and
                    unwanted clutter. Before you know it, your inbox is
                    overflowing, leaving you overwhelmed and missing important
                    messages.
                </p>
                <p class="fs-4 fst-italic mb-3">
                    Let's solve that.
                </p>
                <a href="/login" type="button" class="btn btn-primary btn-lg px-4 mt-3">Login with Gmail</a>
                <div>
                    <a
                        target="_blank"
                        href="https://github.com/deep-learning-for-humans/spam-slaya#spam-slaya"
                        class="px-4 mt-3 icon-link icon-link-hover link-opacity-75 link-opacity-100-hover link-offset-2 link-secondary link-underline-opacity-50">

                        Learn more
                        <i class="bi bi-arrow-right"></i>

                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-6 offset-3">
        <div class="text-center mb-3">
            <div class="d-block mx-auto mb-2 fs-1">
                <i class="bi-trash3"></i>
            </div>
            <h1 class="display-5 fw-bold text-body-emphasis">Spam Slaya</h1>
        </div>

        <div class="card text-center shadow-sm">
            <div class="card-header">Downloading LLM</div>
            <div class="card-body">
                <p class="lead mb-0">
                    We are downloading a Large Language Model in the background. Once
                    this is done, you can login to Gmail and proceed
                </p>
            </div>
            <div class="card-footer text-small text-body-secondary">
                Checking download status in <span id="seconds-left"></span> seconds
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}


{% block scripts %}
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script>
    $(function(){
        $("#seconds-left").text(5);

        setInterval(() => {
            const secondsLeft = parseInt($("#seconds-left").text());
            if (secondsLeft > 0) {
                $("#seconds-left").text(secondsLeft - 1);
            }
        }, 1000);
    })
</script>
{% endblock %}