{% extends 'base.html' %}

{% block title %}Run Status{% endblock %}

{% block meta %}
{% if model.run.status.value == "QUEUED" or model.run.status.value == "PROCESSING" %}
<meta http-equiv="refresh" content="5" >
{% endif %}
{% endblock %}

{% block body %}

<div class="row mb-2">
    <div class="col">
        <a class="link-offset-2" href="{{ url_for('home') }}"><i class="bi-arrow-left"></i> Back</a>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <div class="card border border-0 shadow-sm">
            <div class="card-body">
                <h1>Run status</h1>
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th width="11">Scheduled</th>
                            <td>{{ model.run.scheduled_at.strftime("%Y-%m-%d %H:%M:%S") }}</td>
                        </tr>
                        <tr>
                            <th>Started</th>
                            <td>{{ model.run.started_at.strftime("%Y-%m-%d %H:%M:%S") if model.run.started_at }}</td>
                        </tr>
                        <tr>
                            <th>Ended</th>
                            <td>{{ model.run.ended_at.strftime("%Y-%m-%d %H:%M:%S") if model.run.ended_at }}</td>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td>{{ model.run.status.value }}</td>
                        </tr>
                        <!--
                        <tr>
                            <th>Messages to process</th>
                            <td>{{ model.count }}</td>
                        </tr>
                        <tr>
                            <th>Messages processed</th>
                            <td>{{ model.process_count }}</td>
                        </tr>
                        <tr>
                            <th>Messages with error (unprocessed)</th>
                            <td>{{ model.error_count }}</td>
                        </tr>
                        <tr>
                            <th>Messages to delete</th>
                            <td>{{ model.delete_count }}</td>
                        </tr>
                        -->
                    </tbody>
                </table>

                {% if model.run.status.value == "QUEUED" or model.run.status.value == "PROCESSING" %}
                <div class="alert alert-info" role="alert">
                    This page auto refreshes in <span id="seconds-left"></span> seconds
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="card border border-0 shadow-sm">
            <div class="card-body">
                <h1>Details</h1>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Subject</th>
                            <th>Reason</th>
                            <th>Action</th>
                        </tr>
                        {% for result in model.batch_results %}
                        {% if result.action.value != "TBD" %}
                        <tr>
                            <td>{{ result.subject }}</td>
                            <td>{{ result.reason }}</td>
                            <td>{{ result.action.value }}</td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="3">Processing</td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script>
    $(function(){
        $("#seconds-left").text(5);

        setInterval(() => {
            const secondsLeft = parseInt($("#seconds-left").text());
            if (secondsLeft > 0) {
                $("#seconds-left").text(secondsLeft - 1);
            }
        }, 1000);
    })
</script>
{% endblock %}